*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background-color: rgb(71, 59, 78);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    color: aliceblue;
}
.calculadora{
    background-color: rgb(114, 67, 121);
    border: 2px solid white;
    width: 350px;
    max-width: 100%;
    height: 80vh;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}
.resultado{
    background-color: rgba(220, 94, 240, 0.2);
    grid-column: 1 / -1;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}
.btn{
    background-color: rgb(71, 59, 78);
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: .5rem;
}
.btn:hover{
    background-color: rgba(220, 94, 240, 0.2);

}
#btn-0{
    grid-column: span 2;

}
#btn-igual{
    background-color: rgb(243, 125, 46);
    grid-row: span 2;
}
#btn-igual:hover{
    background-color: rgb(167, 90, 39);
}
